.container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.name {
	margin-left: 0px;
	padding-bottom: 5px;
}

.details {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.school, .job, .activity, .skill, .project {
	margin-bottom: 5px;
}

.job-name, .skill-type, .project-name, .activity-title {
	font-weight: bold;
}

.section h3 {
	text-transform: uppercase;
}

ul {
	margin-bottom: 0px;
}

.follow-twitter {
	text-align: right;
}
