.name {
	margin-left: 0px;
}

.details {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.school, .job, .activity, .skill, .project {
	margin-bottom: 5px;
}

.job-name, .skill-type, .project-name, .activity-title {
	font-weight: bold;
}

ul {
	margin-bottom: 0px;
}

